@import url('style.css');

.page-content > h1 {
    font-size: 27px;
    text-transform: capitalize;
    color: var(--sec-color);
    margin-bottom: 20px;
}

.page-content .img {
    width: 50%; 
    flex-direction: column;
    padding: 20px;
}

.page-content .img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.page-content .img form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.page-content .img form div {
    position: relative;
}

.page-content .img form input[type = 'file'] {
    color: var(--black-color);
    font-size: 17px;
    border: 1px solid #526d82;
    width: 260px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.page-content .img form label {
    color: var(--white-color);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: -33px;
    background-color: #526d82;
    padding: 10px;
    height: 100%;
    width: 150px;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 10px 0 0 10px;
}

.page-content .img form button {
    width: 150px;
    padding: 10px;
    border: 1px solid var(--main-color);
    background-color: var(--main2-color);
    border-radius: 10px;
    color: var(--black-color);
    font-size: 18px;
    transition: .3s;
    cursor: pointer;
}

.page-content .img form button:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}